<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iam.here.hereiam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hia_launcher"
        android:label="Here I AM"
        android:roundIcon="@mipmap/hia_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cadastrarTurma" />
        <activity android:name=".listagemTurmas" />
        <activity android:name=".aluno" />
        <activity android:name=".professor" />
        <activity android:name=".loginActivity" />
        <activity android:name=".cadastroActivity" />
        <activity android:name=".cadastrosDeTurmas" />
        <activity android:name=".cadastroAlunoTurma"></activity>
    </application>

</manifest>